{% extends "base.html" %}

{% block bodyblock %}
<p class="text-center">
  <span class="glyphicon glyphicon-link large"></span><br>
  <b>Enter a url to shorten it!</b> <br>
</p>
<form class="form-group" method="post">
      {%csrf_token%}
      {{form}}
      <input class="btn btn-success btn-lg"  type="submit" name="" value="Shorten!">
</form>

<div class="input-group">
  {% if shortenurl|length > 0 %}
    <a href="{{shortenurl}}" target='_blank'>
      <input type="text" class="form-control input-lg" id="copy-input" value='{{shortenurl}}' readonly="true"></a>
  {% else %}
    <input type="text" class="form-control input-lg" id="copy-input" readonly="true">
  {% endif %}
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="button"  data-placement="button" title="Copy" onclick="copyText()">
          <span class="glyphicon glyphicon-copy"></span>
        </button>
      </span>
</div>

{% endblock bodyblock %}
